<!DOCTYPE html>
<html>
<head>
    <title>Names</title>
</head>
<body>
    <h1>Names from Backend</h1>

    <ul>
        <% names.forEach(name => { %>
            <li><%= name %></li>
        <% }) %>
    </ul>

</body>
</html>
