version: "3.8"

services:
  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: node-frontend
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://backend:8080
    depends_on:
      - backend
